body {
    background: whitesmoke;
    width: 800px;
    margin: 0;
}

.info {
    font-size: 1.5rem;
    background: #4673fc;
    color: white;
    width: 100%;
}

.normal {
  color: black;
  text-decoration: none;
}